*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image:linear-gradient( to right,#1e40af, #1e3a8a, #1a3283);
    padding: 20px;
    justify-content: center;
    align-items: center;
}

/* Configuração do container */
.Container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 65%;
    height: auto;
    border-radius: 20px;
    background-color: white;
    box-shadow: 10px 8px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

/* configuração das seções */
section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 20px;
}

/* configuração da logo */
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 15px;
}

/* configuração do h1 */
h1{
    font-size: 42px;
    margin: 10px;
}

/* configuração dos textos */
p{
    width: 60%;
    text-align: center;
    color: #494949;
}

/* configuração do box onde vai ficar a breve apresentação */
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: auto;
    gap: 10px;
    border-radius: 20px;
    background-color: #608ba023;
}

/* configuração do h2 */
h2{
    font-size: 22px;

}

/* configuração do botão que inicia o quiz */
a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d4ed8;
    color: white;
    text-decoration: none;
    width: 200px;
    height: 45px;
    margin: 10px;
    font-size: 15px;
    border-radius: 25px;
    border: none;
    transition: transform 0.5s ease;
}

/* configuração do hover */
a:hover{
    transform: scale(1.05);
    transition: 0.5s;
    background-color: #1e40af;
}